{% extends 'base.html.twig' %}
{% block body %}

    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                    <h2>Bienvenido a <strong>Webinar finanzas personales</strong> - Tu Fuente Definitiva de Educación Financiera en Video</h2>
                    <p>
                        ¿Listo para dominar tus finanzas? En [Nombre de Tu Plataforma], hemos transformado el aprendizaje financiero en una experiencia visual y envolvente. Nuestros videos te guiarán hacia un camino de conocimiento financiero sólido y te empoderarán para tomar el control de tu futuro económico.

                    </p>
                    <h3>Aprende a tu Propio Ritmo</h3>
                    <p>
                        Con acceso 24/7 a nuestra biblioteca de videos, puedes aprender según tu agenda y ritmo. Repite las lecciones o avanza cuando te sientas preparado.
                    </p>
                    <h3>Contenido para Todos</h3>
                    <p>
                        No importa si eres un principiante en finanzas o un inversor experimentado; tenemos contenido adaptado a todos los niveles. Desde conceptos básicos hasta estrategias avanzadas, te respaldamos en cada etapa de tu viaje financiero.
                    </p>
                    <ul>
                        <li><strong>Finanzas Personales:</strong> Descubre cómo administrar tu dinero, crear un presupuesto efectivo y planificar tu futuro financiero.</li>
                        <li><strong>Inversiones:</strong> Aprende las mejores prácticas para invertir en acciones, bienes raíces, y más. Conviértete en un inversor informado y confiado.</li>
                        <li><strong>Emprendimiento:</strong> Adquiere las habilidades financieras necesarias para lanzar y hacer crecer tu propio negocio. Desde la idea hasta el éxito.</li>
                        <li><strong>Actualización Continua:</strong> Nuestro contenido se mantiene actualizado con las últimas tendencias y cambios en el mundo financiero, para que siempre tengas acceso a la información más relevante.</li>
                    </ul>
                    <h3>Herramientas Prácticas</h3>
                    <p>
                        Complementa tus conocimientos con nuestras herramientas interactivas y ejercicios prácticos. Aplica lo que aprendes de inmediato.
                    </p>
                    <h3>Tu Éxito, Nuestra Misión</h3>
                    <p>
                        En <strong>Webinar finanzas personales</strong>, creemos en tu potencial para lograr la libertad financiera. Nuestra misión es proporcionarte las herramientas y el conocimiento que necesitas para alcanzar tus metas económicas.
                    </p>
                    <h3>Inicia Tu Viaje</h3>
                    <p>
                        Comienza tu viaje hacia un futuro financiero sólido hoy mismo. Descubre la educación financiera en video que te ayudará a tomar decisiones más inteligentes con tu dinero y a alcanzar la seguridad financiera que mereces.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
