{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid fh5co_video_news_bg pb-4">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4">Aprendamos en Video</div>
        </div>
        <ul class="nav flex-column">
            {% for module in videos %}
                <li class="nav-item">
                    <div class="container_image">
                        <a class="nav-link active" aria-current="page" href="{{ path('detail_module',{
                            moduleVideo: module.id
                        }) }}">

                            <div class="item">
                                <h2>{{ module.name }}</h2>
                                <img src="{{ asset('images/thumbnail/week1.jpg') }}" class="img-fluid" alt="week_1">


                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function goto(idVideo){
            window.location.href = '/learning/'+idVideo;
        }
    </script>
{% endblock %}
